@model CoVisiting.Models.ApplicationUser.ProfileModel

<div class="container body-content">
    <div class="row userProfileHeader">
        <div class="userProfileHeading">
            Профіль користувача
        </div>
    </div>
    
    <div class="row" id="userProfileContent">

    </div>
</div>