@{
    ViewData["Title"] = "Підтвердження забутого пароля";
}

<div class="container body-content">

    <div class="row userProfileHeader globalMarginFix_30">
        <div class="userProfileHeading">
            @ViewData["Title"]
        </div>
    </div>
    <div class="row ContainerShadow paddingFix16 globalMarginFix_30">
        <div class="col-lg-12 centered">
            Будь-ласка, перевірте пошту, щоб скинути пароль.
        </div>
    </div>
</div>