@{
    ViewData["Title"] = "Заблокований";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Цей обліковий запис заблоковано. Повторіть спробу пізніше.</p>
</header>
