@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Перевірка коду відновлення";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Ви подали запит на вхід за допомогою коду відновлення. Цей логін не буде запам'ятовуватися, поки ви не надасте
    код програми автентифікатору під час входу або не вимкнете двохфакторну автентифікацію та не увійдете в систему знову.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryCode"></label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Увійти</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}