body {
    padding: 50px 0 20px 0;
    background-color: #f5fffa;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header {
    background-color: #EEF1F8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.categoryLogo {
    background-color: rgba(255, 255, 255, 1);
    height: 90px;
    width: 35%;
    background-size: 100%;
}

.navLogo {
    background-image: url("/images/logo.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 16px;
    width: 150px;
    margin-right: 12px;
}

.frontPageSplash {
    background-image: url("/images/bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.frontPageLearn {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
    color: #00AFBC;
}

.frontPageSubHeading {
    font-size: 2em;
    color: #00AFBC;
}

.fontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Source Sans Pro', sans-serif;
}


.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    transition: ease-in 0.2s;
    color: #3C3850;
    
}

::-webkit-input-placeholder {
    color: rgba(12, 56, 81, 0.8);
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #3C3850;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 4px -6px #000;
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
}

#latestsEvents {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
    
}

#blockEvent {
    transition: ease-in 0.3s;
    border-width: thin;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    margin: 10px;
    padding: 10px
}

#blockEvent:hover {
    transition: ease-in 0.3s;
    background-color: rgba(0, 175, 188, 0.5);
    margin-left: 20px;
    margin-right: 20px;
}

.eventHeader {
    background-color: #3C3851;
    margin: 0px;
    display: flex;
}

.eventListingTitle {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.text-black {
    color: #000;
}

.EventCityPlace {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    margin-top: 5px;
}

.EventStart {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    margin-top: 5px;
}

.AuthorRatingClass {
    border: 1px solid transparent;
    color: #f5fffa;
    background-color: green;
    margin-left: 16px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.likeReply {
    display: flex;
    justify-content: flex-end;
    margin-right: 19px; 
}

.likeLogo {
    height: 24px;
    width: 24px;
    background-size: 100%;
    background-image: url("/images/heart-off.png");
}

.replyLogo {
    margin-left: 10px;
    height: 24px;
    width: 24px;
    background-size: 100%;
    background-image: url("/images/messages.png");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

